/vendor
/wp
wp-config.php
/content/languages
/content/upgrade
/content/uploads
/content/plugins/*
!/content/plugins/o-projects
!/content/plugins/o-redirect-to
/content/themes/*
!/content/themes/oprofile