/vendor
/wp
/wp-config.php
/content/languages
/content/upgrade
/content/uploads
/content/plugins/*
!/content/plugins/o-projects
!/content/plugins/o-redirectTo
!/content/plugins/o-roles
!/content/plugins/o-skills
/content/themes/*
!/content/themes/oprofile